/*Varibles about theme on website*/
:root {
    --mainColor1: #50503f;
    --mainColor2: #00cc00;
    --mainColor3: #191966;
    --textColor1: #0e160e;
    --textColor2: white;
}

body {
    margin: 0;
}

main{
    margin: 0;
    padding: 0;
}
/*Dynamic navigation*/
nav {
    background-color: var(--mainColor1);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.navabrand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navabrand img {
    padding: 0 10px;
}

.navabrand h3 {
    padding: 0 10px;
    color: var(--textColor1);
}

.navamenu {
}

.navamenu a {
    display: inline-block;
    text-decoration: none;
    padding: 22px 10px;
    color: var(--textColor1);
}

.navamenu a:hover {
    background-color: var(--mainColor2);
    color: var(--textColor2);
}

.toggle{
    display: none;
    background-color: var(--mainColor1);
    padding: 22px 10px;
    border: none;
}

/*Sections styelsheets*/
section {
    text-align: center;
    width: 100%;
    margin: 100px auto;
    border: 2px solid var(--mainColor3);
    position: relative;
}

/*Project description*/
.description {
    width: 85%;
    background-color: var(--mainColor1);
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border: 2px solid var(--mainColor3);
    border-radius: 20px;
}

/*Team members*/
.people {
    padding: 20px 30px;
    display: grid;
    grid: 80px 80px / auto auto auto;
    grid-gap: 10px;
}

.person {
    background-color: var(--mainColor1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--mainColor3);
    border-radius: 20px;
}

/*Main plan timeline*/
.timeline {
    position: relative;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--mainColor1);
    top: 70px;
    bottom: 0px;
    left: 50%;
    margin-left: -3px;
}

.timeline-side {
    padding: 10px 15px;
    position: relative;
    background-color: inherit;
    width: 45%;
}

.timeline-side::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -8.75%;
    background-color: var(--mainColor1);
    border: 4px solid var(--mainColor2);
    top: 40%;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 53%;
}
.right::after{
    left: -8.75%;
}

.content {
    padding: 20px 30px;
    background-color: var(--mainColor1);
    position: relative;
    border-radius: 10px;
}

/*Updates*/


/*Responsive change*/
/*Navigation*/
@media screen and (max-width: 900px){
    .navamenu a { display: none ;}
    .toggle {
        display: flex;
    }

    .toggle:hover {
        background-color: var(--mainColor2);
        color: var(--textColor2);
    }
}

@media screen and (max-width: 900px) {
    nav {
        display: block;
    }
    .navamenu.responsive {
        position: relative;
        display: block;
    }

    .toggle {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navamenu.responsive a {
        display: block;
        text-align: left;
        float: none;
    }
}

/*Timeline*/
@media screen and (max-width: 1000px) {
    .timeline::after{
        left: 50px;
    }

    .timeline-side{
        width: 80%;
        padding-left: 100px;
        padding-right: 50px;
    }

    .right::after, .left::after{
        left: 34px;
    }

    .right {
        left: 0%;
    }
}
