/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*Varibles about theme on website*/
:root {
    --mainColor1: #d6d6d6;
    --mainColor2: #f05400;
    /* #082639;#061824*/
    --backColor: #082639;
    --textColor1: #0e160e;
    --textColor2: white;
}

/*Main elements on website*/
body {
    margin: 0;
    background-color: var(--backColor);
}

main {
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
}

.icon {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

h1 {
    color: var(--mainColor1);
    font-size: 40px;
}

.description h1{
    color:var(--backColor);
}
.description u{
    text-decoration-color:var(--mainColor2);
    text-decoration-thickness: 0.2rem;
}
.projectDescription{
    width:55%;
    text-align:start;
    font-size:1.3rem;
    word-spacing: 0.2rem;
    line-height: 1.5rem;
    word-wrap: break-word;
}
.projectImages{
    width:45%;
    display:flex;
    flex-flow: column wrap;
}
.description img{
    width:90%;
    border-radius: 1rem;
    border:3px solid var(--mainColor2);
    margin-left:2rem;
}

.flexContainer{
    margin-top:3rem;
    margin-left:2rem;
    display:flex;
    flex-flow: row wrap;
}

.description li{

    font-size:1.2rem;
    margin-top:1rem;
    margin-right:2rem;
    display:flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items:flex-start;
    text-align: start;
}
.description ul{
    list-style: none;
    display:flex;
    flex-flow:column wrap;
    justify-content: flex-start;
    align-items:flex-start;
    margin-left:-2rem;
}
.description ul li::before{
    content: "•";
    color:red;
    margin-top:-0.5rem;
    margin-right:1rem;
    font-size:2rem;

}

/*Dynamic navigation*/
nav {
    background-color: rgba(214, 214, 214, 0.8);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 2;
    backdrop-filter: blur(8px);
    border-bottom: 3px solid var(--mainColor2);
}

.navabrand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navabrand img {
    padding: 0 10px;
}

.navabrand h3 {
    padding: 0 10px;
    color: var(--textColor1);
}

.navamenu {
}

.navamenu a {
    display: inline-block;
    text-decoration: none;
    padding: 22px 10px;
    color: var(--textColor1);
}

.navamenu a:hover {
    background-color: var(--mainColor2);
    color: var(--textColor2);
}

.toggle{
    display: none;
    background-color: var(--mainColor1);
    border: none;
    padding: 17px 10px;
}

.toggle_icon {
    display: inline-block;
}

.toggle_bar {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 3px 0;
}

/*Sections styelsheets*/
section {
    text-align: center;
    width: 100%;
    margin: 50px auto;
    position: relative;
}

/*Project description*/
.description {
    width: 85%;
    background-color: var(--mainColor1);
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
}

.description p {
    margin: 40px 20px;
    font-size: 15px;
}

.description ul li p {
    text-align: start;
}

/*Team members*/
.people {
    padding: 20px 30px;
    display: grid;
    grid: 80px 80px / auto auto auto;
    grid-gap: 10px;
}

.person {
    padding: 40px;
    background-color: var(--mainColor1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border: 2px solid var(--mainColor3);*/
}

.role {
    background-color: var(--mainColor2);
    color: var(--textColor2);
    padding: 0 10px;
    border-radius: 20px;
}

/*Main plan timeline*/
.timeline {
    position: relative;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 3.75%;
    background-color: var(--backColor);
    top: 103px;
    bottom: 20px;
    left: 47%;
    border-left: 1rem solid #6C6C6CFF;
    border-right: 1rem solid #6C6C6CFF;
}

.timeline-side {
    padding: 10px 15px;
    position: relative;
    background-color: inherit;
    width: 45%;
}
.left {
    left: 0;
}

.right {
    left: 53%;
}


.content {
    padding: 20px 30px;
    background-color: var(--mainColor1);
    position: relative;
    border-radius: 10px;
}

.content ul{
    text-align: start;
}

.date {
    background-color: var(--mainColor2);
    color: var(--textColor2);
    border-radius: 20px;
    margin: 0 45%;
}

.content .date{
    margin: 0 30%;
}

#wood {
    position: absolute;
    width: 15%;
    right: -13.80%;
    height: 100%;
    /*overflow: hidden;*/
    background-color: transparent;
    z-index: 1;
}

#wood img {
    width: 100%;
    height: 12.90%;
    margin-bottom: 30%;
    overflow: hidden;
}


/*Updates*/
.updates {

}

.updates-window {
    position: relative;
    width: 95%;
    height: 400px;
    background-color: var(--mainColor1);
    margin: auto;
    justify-items: center;
}

.scroll-list {
    position: absolute;
    width: 30%;
    height: 360px;
    margin: 10px auto;
    padding: 10px;
    float: start;
    overflow: auto;
    /*border-right: 20px solid var(--backColor);*/
}

.update-item {
    background-color: var(--mainColor2);
    height: 100px;
    margin: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--mainColor1);
    font-size: 25px;
}

.update-item:hover {
    background-color: var(--backColor);
}

.update-content {
    float: right;
    width: 64%;
    display: none;
    height: 90%;
    margin: 20px;
    text-align: start;
    overflow: auto;
}

.update-data {
    justify-content: space-between;
    display: flex;
}

/*Footer*/
footer {
    background-color: var(--mainColor1);
    height: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: grey;
}

/*Animation*/

#animation {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    font-family: 'Pacifico', cursive;
    z-index: 5;
    backdrop-filter: blur(8px);
}

#train {
    top: 22%;
    left: -400px;
    position: absolute;
    margin: 0;
    z-index: 2;
}

#train img {
    width: 550px;
    height: 300px;
}

#greeting {
    position: absolute;
    top: 30%;
    left: 12%;
    margin: 0;
    padding: 0;
    z-index: 0;
}

#greeting h1 {
    font-size: 100px;
    margin: 0;
    display: none;
    color: var(--mainColor2);
}


/*Responsive change*/
/*Navigation*/
@media screen and (max-width: 900px){
    .navamenu a { display: none ;}
    .toggle {
        display: flex;
    }

    .toggle:hover {
        background-color: var(--mainColor2);
        color: var(--textColor2);
    }
}

@media screen and (max-width: 900px) {
    nav {
        display: block;
    }
    .navamenu.responsive {
        position: relative;
        display: block;
    }

    .toggle {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navamenu.responsive a {
        display: block;
        text-align: left;
        float: none;
    }
    .description li{

        font-size:1.2rem;
        margin-top:0.5rem;
        margin-left:0.5rem;
        margin-right:0.1rem;
    }
    .flexContainer{
        display:flex;
        flex-flow: column-reverse wrap;
    }
    .projectDescription{
        width:100%;
        margin-top:3rem;
    }
    .projectImages{
        width:100%;
    }


    #greeting {
        display: none;
    }
}

/*Timeline*/
@media screen and (max-width: 1100px) {
    .timeline::after{
        left: 15px;
        width: 39px;
    }

    .timeline-side{
        width: 80%;
        padding-left: 80px;
        padding-right: 50px;
        margin-left: 15px;
    }
    #wood {
        left: -10px;
        width: 90px;
    }

    .right {
        left: 0%;
    }

    .date{
        margin: 0;
        width: 100%;
    }

    .content .date{
        margin: auto;
        width: 80%;
    }
}

@media screen and (max-width: 1200px) {
    #wood {
        right: -13.25%;
    }

}

@media screen and (max-width: 1300px) {
    #wood {
        right: -13.5%;
    }

    #greeting {
        top: 40%;
    }

    #greeting h1 {
        font-size: 70px;
    }
}

/*Team*/
@media screen and (max-width: 1100px){
    .people {
        display: block;
    }

    .person {
        margin-bottom: 10px;
    }

}


/*Updates*/
@media screen and (max-width: 600px) {
    .updates-window {
        display: block;
        height: 900px;
    }

    .scroll-list {
        position: relative;
        width: 90%;
        margin: auto;
    }

    .update-content {
        float: none;
        margin: 20px auto;
        height: 400px;
    }

    .update-data {
        display: block;
    }

    footer {
        text-align: center;
    }
}
