/* style.css file for positioning and customization website elements */
.mainContainer{
    padding:5rem;
    margin-top:-4rem;
}
.logo{
    display:flex;
    justify-content: center;
    flex-flow:row wrap;
}

nav{
    display:flex;
    justify-content: space-around;
    padding-left:15%;
    padding-right:15%;
    margin-bottom:1rem;
}

#oProjekcie{
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
}
img{
    border-radius:10px;
    width: 50rem;
    margin: 1.75rem;
}
section{
    margin-left:5rem;
    margin-right:5rem;
}
section h2{
    padding-bottom:0.5rem;
    padding-top:2rem;
}
ul{
    margin-left:2rem;
}

@media only screen and (max-width: 900px) {
    .logo{
        display:flex;
        justify-content: center;
    }
    nav{
        flex-flow: column wrap;
    }
    section{
        margin:0;
    }

}
